
<nav class="navbar drop-shadow" style="position: fixed; width:100%;">
  <div class="row" style="max-width:800px; width:100%; margin:0 auto;">
    <div class="col-4" style="background-color: transparent;">
      <%= link_to "Skapa", new_tournament_path, :style => "font-size: 16px; display:block; text-align:right; margin-top:20px;" %>
    </div>
    <div class="col-4" style="background-color: transparent;">
      <%= link_to "Fifonator", root_path, :style => "font-family: 'Otomanopee One', sans-serif; font-size:40px; display:block; text-align:center;" %>
    </div>
    <div class="col-4" style="background-color: transparent;">
      <%= link_to "Turneringar", tournaments_path, :style => "font-size: 16px; display:block; text-align:left; margin-top:20px;" %>
    </div>
  </div>
</nav>


